@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.navbar {
    background-color: #1ebef3;
    display: flex;
    margin-top: 31px;
    width: 100%;
    gap: 20px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 159%;
    padding: 0 60 0 60;
  }
  @media (max-width: 991px) {
    .navbar {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .div-2{
    display: flex;
    gap: 10px;
    white-space: nowrap;
    list-style-type: none;
  }
  @media (max-width: 991px) {
    .div-2 {
      white-space: initial;
    }
  }
.div-3 {
    font-family: Montserrat, sans-serif;
    justify-content: center;
    align-items: start;
    display: flex;
    padding: 20px;
    gap: 20px;
}
.div-2 li a{
    font-family: Montserrat, sans-serif;
    color: white;
    text-decoration: none;
}
.div-2 li {
    font-family:Montserrat, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: white;

}
  @media (max-width: 991px) {
    .div-3 {
      white-space: initial;
    }
}
.section-1 {
    /* background-color: #fbf9ef;
    display: flex;
    padding: 80px 0 5px; */
    position: relative;
    height: 80px;
  }
@media (max-width: 991px) {
    .section-1 {
        max-width: 100%;
    }
}

.courosel-container {
    position: relative;
    width: 100%;
    height: 100px;

}
.image-courosel {
    width: 100%;
}
.couroseldiv {
    background: lightgreen;
    list-style-type: none;
    position: relative;

}

.courasel-slide {
    position: absolute;
    width: 100%;
    list-style-type: none;

}
.courasel-nav {
    display: absolute;
    width: 100%;
    padding-left: 50px;
    /* align-items: center; */
    background: #1ebef3;
}
.nav1 {
    width: 15px;
    height: 15px;
    position: relative;
    background: white;
    border-radius: 50%;
}
.nav2 {
    width: 15px;
    height: 15px;
    position: relative;
    background: white;
    border-radius: 50%;
}
.nav3 {
    width: 15px;
    height: 15px;
    position: relative;
    background: white;
    border-radius: 50%;
}
.nav4 {
    width: 15px;
    height: 15px;
    position: relative;
    background: white;
    border-radius: 50%;
}
  


.carousel-section {
    padding: 20px 0;
    background: #1ebef3;
  }
  
  .carousel-container {
    position: relative;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: block;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #prevBtn {
    left: 0;
  }
  
  #nextBtn {
    right: 0;
  }
  